// elevations only
.low {
    box-shadow: var(--shadow-hover-low, initial);
}
.medium {
    box-shadow: var(--shadow-hover-medium, initial);
}
.high {
    box-shadow: var(--shadow-hover-high, initial);
}