@import '../../_breakpoints.scss';

.fourGrid {
    display: grid;

	grid-template-columns: 1fr;
	grid-template-rows: 1fr;

	grid-template-areas:
		'child1'
		'child2'
		'child3'
		'child4';

	& :nth-child(1) {
		grid-area: child1;
	}

	& :nth-child(2) {
		grid-area: child2;
	}

	& :nth-child(3) {
		grid-area: child3;
	}

	& :nth-child(4) {
		grid-area: child4;
	}

	@media (min-width: $br-md) {
        grid-template-columns: repeat(2, 1fr);
		grid-template-areas:
			'child1 child2'
			'child3	child4';
	}
}
